<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href='https://unpkg.com/boxicons@2.0.9/css/boxicons.min.css' rel='stylesheet'>
    <link rel="stylesheet" href="../static/style.css">
    <title>AdminSite</title>
</head>

<body>
    <!-- SIDEBAR -->
    <section id="sidebar">
        <a href="#" class="brand"><i class='bx bxs-smile icon'></i> AdminSite</a>
        <ul class="side-menu">
            <li><a href="/"><i class='bx bxs-dashboard icon'></i> Dashboard</a></li>
            <li><a href="/intent"><i class='bx bxs-chart icon'></i> Intent</a></li>
            <li><a href="{{ url_for('get_intent_message', intent_id='all_0') }}" class="active"><i class='bx bx-table icon'></i> Tables</a></li>
            <li><a href="/todo"><i class='bx bxs-calendar-plus icon'></i> ToDo</a></li>
        </ul>
    </section>
    <!-- SIDEBAR -->

    <!-- content -->
    <section id="content">
        <!-- NAVBAR -->
        <nav>
            <i class='bx bx-menu toggle-sidebar'></i>
            <form action="#">
                <div class="form-group">
                    <input type="text" placeholder="Search...">
                    <i class='bx bx-search icon'></i>
                </div>
            </form>
        </nav>
        <!-- NAVBAR -->

        <!-- MAIN -->
        <main>
            <div class="modal-box" id="update_file_div">
                <div class="file_wrapper">
                    <header>File Uploader JavaScript</header>
                    <form class="file_wrapper_form">
                        <input class="file-input" type="file" name="file" hidden>
                        <i class="bx bxs-cloud-upload bx-lg"></i>
                        <p>Browse File to Upload</p>
                    </form>
                    <section class="uploaded-area">
                        <li class="row">
                            <div class="content upload">
                                <i class="bx bx-file"></i>
                                <div class="details">
                                    <span class="name">Makefile • Uploaded</span>
                                    <span class="size">0 KB</span>
                                </div>
                            </div>
                            <i class="fas fa-check"></i>
                        </li>
                    </section>
                    <div style="display: flex; justify-content: space-between; margin-left: 20%; margin-right: 20%;">
                        <input class="modal-close-submit-button" type="button" value="关闭" onclick="closeModal()">
                        <input class="modal-close-submit-button" type="button" value="提交">
                    </div>
                </div>
            </div>
            <h1 class="title">Table</h1>
            <div class="table-data">
                <div class="order">
                    <div class="head">
                        <h3>Recent Orders</h3>
                        <a href="#" class="btn-download">
                            <i class='bx bxs-cloud-download'></i>
                            <span class="text">Download</span>
                        </a>
                        <a href="#" class="btn-download" onclick="upLoadFile()">
                            <i class='bx bxs-cloud-upload'></i>
                            <span class="text">Upload</span>
                        </a>
                    </div>
                    <table>
                        <thead>
                            <tr>
                                <th>User</th>
                                <th>Date Order</th>
                                <th>Status</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>
                                    <img src="img/people.png">
                                    <p>John Doe</p>
                                </td>
                                <td>01-10-2021</td>
                                <td><span class="status completed">已启用</span></td>
                            </tr>
                            <tr>
                                <td>
                                    <img src="img/people.png">
                                    <p>John Doe</p>
                                </td>
                                <td>01-10-2021</td>
                                <td><span class="status pending">已禁用</span></td>
                            </tr>
                        </tbody>
                    </table>
                    <hr style="opacity:0.2;margin-bottom: 5px">
                    <div class="my_specal_div" style="width: 100%;">
                        <a href="#" class="page_num_button">
                            <i class='bx bxs-rewind-circle'></i>
                        </a>
                        &nbsp;
                        <a href="#" class="page_num_button">
                            <i class='bx bxs-fast-forward-circle'></i>
                        </a>
                    </div>
                </div>
            </div>
        </main>
        <!-- MAIN -->
    </section>
    <!-- content -->

    <script src="https://cdn.jsdelivr.net/npm/apexcharts"></script>
    <script src="../static/script.js"></script>
</body>

</html>